.singleaudio {
  display: flex;
}

.singleAdioContainer {
  width: 1000px;
  height: 100px;
  margin: 8px;
  border-radius: 35px;
}
.singleaudioWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.mute {
  margin: 30px;
  background-color: transparent;
  color: rgb(8, 0, 0);
  border: none;
}

.audioTitle {
  font-weight: bold;
  color: rgb(4, 0, 0);
  padding-left: 10px;
  font-size: 40px;
}
