.singleaudio {
  display: flex;
}

.singleAdioContainer {
  width: 700px;
  height: 50px;
  margin: 8px;
  border-radius: 35px;
}
.singleaudioWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.mute {
  margin: 5px;
  background-color: transparent;
  color: rgb(8, 0, 0);
  border: none;
}

.audioTitle {
  font-weight: bold;
  color: rgb(4, 0, 0);
  padding-left: 25px;
  font-size: 25px;
}
